.form-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.form-container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.form-label {
    display: block;
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.form-button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #032e0e;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-button:hover {
    background-color: #031e3b;
}