section {
    padding: 20px;
}
  
h2 {
    text-align: center;
    
}
  
.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}
  
.image-item {
    text-align: center;
   
}
  
.description {
    margin-top: 10px;
}
  
.description h3 {
    margin-top: 0;
}
  
.description a {
    display: block;
    text-align: center;
    margin-top: 10px;
}